body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.container{
    width: 90%;
    margin: auto;
}
/*header-menu-area style starts*/
.header-area{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.main-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.main-menu ul{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: stretch;
}
.main-menu ul li{
    padding: 0 15px;
}
.main-menu ul li a{
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    border: 1px solid #FF5600;
    padding: 5px 10px;
    border-radius: 4px;
}
.main-menu ul li:hover a{
    background-color:#FF5600 ;
    color: white;
}
.button-menu a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    border-radius: 35px;
    background-image:linear-gradient(rgba(255, 68, 0, 0.89),#ffbc00de);
    padding: 12px 35px;
    margin-left: 120px;
}
/*header-menu-area style ends*/
/*header-content starts*/
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

}
.header-right-img img{
    width:100%;
}
.header-left-content h1{
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
}
span{
    color:orangered;
    font-weight: 700;
    text-transform: capitalize;
}
.button a{
    text-decoration: none;
    color: white;
    background-image:linear-gradient(rgba(255, 68, 0, 0.89),#ffbc00de);
    padding:15px 30px;
    border-radius: 30px;
}
.button{
   padding: 20px 0;
}
/*header-content ends*/
/*about area starts*/
.about-area{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}
.padding{
    padding-top: 50px;
}
.about-area-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.about-area-img img{
    width: 100%;
}
.about-area-content h1{
    color:#696262c4;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}
.about-area-content p{
    line-height: 1.5em;
    word-spacing: 1px;
    margin-bottom: 40px;
}
/*about area ends*/
/*recipies area starts*/
.recipies-content{
    text-align: center;
    padding: 60px 0;
}
.recipies-content h1{
    color:#696262c4;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 30px;
}

.recipies-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-img img{
    width: 100%;
}
.second-img img{
    width: 100%;
}
.third-img img{
    width: 100%;
}
.first-img{
   border:10px solid white;
   border-radius: 8px;
   box-shadow: 10px 10px 40px gray;
   width: 31.33%;
   margin: 0 1%;
}
.second-img{
    border:10px solid white;
    border-radius: 8px;
    box-shadow: 10px 10px 40px gray;
    width: 31.33%;
    margin: 0 1%;
 }
 .third-img{
    border:10px solid white;
    border-radius: 8px;
    box-shadow: 10px 10px 40px gray;
    width: 31.33%;
    margin: 0 1%;
 }
 .recipies-img-content{
     font-size: 14px;
     padding: 10px;
 }.recipies-img h2{
     color: maroon;
 }
/*recipies area ends*/
/*follower area starts*/
.follower-area{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:10px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #a39f9fea;
    width:80%;
    margin: auto;
}
.padding-follower-area{
    padding: 150px 0;
    text-align: center;
}
.follower-area h2{
    text-transform: capitalize;
    font-weight: 700;
}
.follower-area p{
    color:maroon;
    text-transform: capitalize;
}
/*follower area ends*/
/*contact us area starts*/
.contact-area{
    text-align: center;
    border:10px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #a39f9fea;
    padding: 60px 0;
    margin: 80px 0;
}
.contact-area h1{
    text-transform: capitalize;
    color: maroon;
    padding: 10px 0;
    font-weight: 700;
}
.contact-form{
    margin:50px 0;
}
.contact-form input{
   width: 20%;
   border-bottom: 1px solid gray;
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 10px 0;
   margin: 10px 5px;
}
textarea{
    display: block;
    margin: auto;
    width: 42%;
    border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 50px 0;
}
/*contact us area ends*/
/*footer area starts*/
.footer-area{
    background: black;
    color: white;
    text-align: center;
    margin: 0;
    padding:10px 0;
    text-transform: capitalize;
}
/*footer area ends*/
